# Trabajo 2 - IA

Resumen aqui

In [90]:
import kagglehub
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
path = kagglehub.dataset_download("neuralsorcerer/student-performance", path="test.csv")

df = pd.read_csv(path)
df = df.sample(n = 50_000, axis = 0, random_state=666)
df = df.reset_index(drop=True)

,Age,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,...,GPA,AttendanceRate,StudyHours,InternetAccess,Extracurricular,PartTimeJob,ParentSupport,Romantic,FreeTime,GoOut
0,16,11,Male,White,1,SomeCollege,Public,City,99.098752,99.432820,...,3.813771,0.980511,1.034361,0,1,1,0,0,4,3
1,14,9,Female,White,4,SomeCollege,Public,Rural,76.972814,73.094482,...,3.423717,0.935273,0.885488,1,0,0,1,0,3,3
2,14,9,Female,Black,4,SomeCollege,Private,Suburban,72.286244,72.384595,...,2.800215,0.912454,0.704442,1,0,0,1,1,1,2
3,17,12,Female,White,3,Bachelors+,Public,Rural,80.374680,72.682736,...,2.707634,0.905701,1.122457,1,0,0,1,1,2,3
4,17,12,Female,Two-or-more,2,HS,Public,Suburban,76.024438,72.188542,...,3.284770,0.906522,1.093387,0,0,1,0,0,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,14,9,Female,White,2,<HS,Public,Suburban,71.866661,74.370841,...,2.286129,0.911958,1.388523,0,1,1,0,0,3,2
49996,17,12,Male,Black,3,HS,Private,City,90.931849,81.041442,...,3.213130,0.902888,0.895626,1,1,0,1,0,2,2
49997,18,12,Male,White,3,HS,Public,City,83.445564,85.309445,...,3.102168,0.933083,0.645942,1,0,0,0,1,4,1
49998,17,12,Female,White,3,HS,Public,City,87.867641,77.410385,...,3.694480,0.984414,0.520279,1,1,1,0,0,3,4
49999,18,12,Female,White,3,Bachelors+,Public,City,74.862324,75.385638,...,2.165616,0.906574,1.441981,1,0,1,1,0,4,1

### Limpiando el Dataframe

In [92]:
df = df.drop(columns=['Extracurricular', 'PartTimeJob', 'ParentSupport', 'Romantic', 'Age'])
df.head()

,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,TestScore_Science,GPA,AttendanceRate,StudyHours,InternetAccess,FreeTime,GoOut
21058,11,Male,White,1,SomeCollege,Public,City,99.098752,99.432820,89.003068,3.813771,0.980511,1.034361,0,4,3
755048,9,Female,White,4,SomeCollege,Public,Rural,76.972814,73.094482,84.209950,3.423717,0.935273,0.885488,1,3,3
915188,9,Female,Black,4,SomeCollege,Private,Suburban,72.286244,72.384595,76.809676,2.800215,0.912454,0.704442,1,1,2
435408,12,Female,White,3,Bachelors+,Public,Rural,80.374680,72.682736,76.420886,2.707634,0.905701,1.122457,1,2,3
260389,12,Female,Two-or-more,2,HS,Public,Suburban,76.024438,72.188542,79.180770,3.284770,0.906522,1.093387,0,4,4

In [93]:
categories = {1: "Very Low",2: "Low",3: "Moderate",4: "High", 5: "Very High"}

df["SES_Quartile"] = df["SES_Quartile"].map(categories).astype("category")
df["InternetAccess"] = df["InternetAccess"].map({0: "No",1: "Yes"}).astype("category")
df["FreeTime"] = df["FreeTime"].map(categories).astype("category")
df["GoOut"] = df["GoOut"].map(categories).astype("category")

df[["Grade", "Gender", "Race", "ParentalEducation", "SchoolType", "Locale"]] = df[["Grade", "Gender", "Race", "ParentalEducation", "SchoolType", "Locale"]].astype("category")

In [94]:
print(df.dtypes)
df.head()

Grade                category
Gender               category
Race                 category
SES_Quartile         category
ParentalEducation    category
SchoolType           category
Locale               category
TestScore_Math        float64
TestScore_Reading     float64
TestScore_Science     float64
GPA                   float64
AttendanceRate        float64
StudyHours            float64
InternetAccess       category
FreeTime             category
GoOut                category
dtype: object

,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,TestScore_Science,GPA,AttendanceRate,StudyHours,InternetAccess,FreeTime,GoOut
21058,11,Male,White,Very Low,SomeCollege,Public,City,99.098752,99.432820,89.003068,3.813771,0.980511,1.034361,No,High,Moderate
755048,9,Female,White,High,SomeCollege,Public,Rural,76.972814,73.094482,84.209950,3.423717,0.935273,0.885488,Yes,Moderate,Moderate
915188,9,Female,Black,High,SomeCollege,Private,Suburban,72.286244,72.384595,76.809676,2.800215,0.912454,0.704442,Yes,Very Low,Low
435408,12,Female,White,Moderate,Bachelors+,Public,Rural,80.374680,72.682736,76.420886,2.707634,0.905701,1.122457,Yes,Low,Moderate
260389,12,Female,Two-or-more,Low,HS,Public,Suburban,76.024438,72.188542,79.180770,3.284770,0.906522,1.093387,No,High,High