# Trabajo 2 - IA

Resumen aqui

In [131]:
import kagglehub
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [132]:
path = kagglehub.dataset_download("neuralsorcerer/student-performance", path="test.csv")

df = pd.read_csv(path)
df = df.sample(n = 50_000, axis = 0, random_state=666)
df = df.reset_index(drop=True)

### Limpiando el Dataframe

In [133]:
df = df.drop(columns=['Extracurricular', 'PartTimeJob', 'ParentSupport', 'Romantic', 'Age'])
df.head()

,Grade,Gender,Race,SES_Quartile,ParentalEducation,SchoolType,Locale,TestScore_Math,TestScore_Reading,TestScore_Science,GPA,AttendanceRate,StudyHours,InternetAccess,FreeTime,GoOut
0,11,Male,White,1,SomeCollege,Public,City,99.098752,99.432820,89.003068,3.813771,0.980511,1.034361,0,4,3
1,9,Female,White,4,SomeCollege,Public,Rural,76.972814,73.094482,84.209950,3.423717,0.935273,0.885488,1,3,3
2,9,Female,Black,4,SomeCollege,Private,Suburban,72.286244,72.384595,76.809676,2.800215,0.912454,0.704442,1,1,2
3,12,Female,White,3,Bachelors+,Public,Rural,80.374680,72.682736,76.420886,2.707634,0.905701,1.122457,1,2,3
4,12,Female,Two-or-more,2,HS,Public,Suburban,76.024438,72.188542,79.180770,3.284770,0.906522,1.093387,0,4,4

In [134]:
categories = {1: "Very Low",2: "Low",3: "Moderate",4: "High", 5: "Very High"}

df["SES_Quartile"] = df["SES_Quartile"].map(categories).astype("category")
df["InternetAccess"] = df["InternetAccess"].map({0: "No",1: "Yes"}).astype("category")
df["FreeTime"] = df["FreeTime"].map(categories).astype("category")
df["GoOut"] = df["GoOut"].map(categories).astype("category")

df[["Grade", "Gender", "Race", "ParentalEducation", "SchoolType", "Locale"]] = df[["Grade", "Gender", "Race", "ParentalEducation", "SchoolType", "Locale"]].astype("category")

(50000, 16)
(49079, 16)
  Grade  Gender   Race SES_Quartile ParentalEducation SchoolType Locale  \
0    11    Male  White     Very Low       SomeCollege     Public   City
1     9  Female  White         High       SomeCollege     Public  Rural

   TestScore_Math  TestScore_Reading  TestScore_Science       GPA  \
0        0.987105           0.991689           0.825239  0.937687
1        0.670526           0.605748           0.749068  0.807172

   AttendanceRate  StudyHours InternetAccess  FreeTime     GoOut
0        0.935037    0.444208             No      High  Moderate
1        0.784243    0.380275            Yes  Moderate  Moderate
  Grade  Gender   Race SES_Quartile ParentalEducation SchoolType Locale  \
0    11    Male  White     Very Low       SomeCollege     Public   City
1     9  Female  White         High       SomeCollege     Public  Rural

   TestScore_Math  TestScore_Reading  TestScore_Science       GPA  \
0       99.098752          99.432820          89.003068  3.813771
1       76.972814          73.094482          84.209950  3.423717

   AttendanceRate  StudyHours InternetAccess  FreeTime     GoOut
0        0.980511    1.034361             No      High  Moderate
1        0.935273    0.885488            Yes  Moderate  Moderate